<!DOCTYPE html>

<html>
<head>
    <title>Index</title>
    <link href="~/Resource/Content/img/zf.ico" rel="shortcut icon">
</head>
<body>
    <div style="width:100%;text-align:center;">
        <h1>框架搭建成功</h1>
    </div>
</body>
</html>