<!DOCTYPE html>

<html>
<head>
    @RenderPage("~/Resource/Shared/Top.cshtml")
    <title>用户管理</title>
</head>
<body style="background:#fff;margin:20px;">
    <div class="wrap-container clearfix">
        <div class="column-content-detail">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input type="text" class="layui-input" id="BeginDate" name="BeginDate" placeholder="起始时间">
                    </div>
                    <div class="layui-inline">
                        <input type="text" class="layui-input" id="EndDate" name="EndDate" placeholder="结束时间">
                    </div>
                    <div class="layui-inline">
                        <input type="text" class="layui-input" id="QueryLikeStr" name="QueryLikeStr" placeholder="关键字">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" onclick="SearchData()">搜索</button>
                        <button class="layui-btn layui-btn-normal insert layui-hide" onclick="InsertDate()">新增数据</button>
                        <button class="layui-btn layui-btn-danger delete layui-hide" onclick="DeleteDate()">删除选中</button>
                        <button class="layui-btn layui-btn-warm print layui-hide" onclick="PrintDate()">打印数据</button>
                    </div>
                </div>
            </div>
            <div class="layui-form" id="table-list">
                <table class="layui-table" id="TableData"></table>
            </div>
        </div>
    </div>
    @RenderPage("~/Resource/Shared/Bottom.cshtml")
    <script>
        var $, layer, table, laydate, form, upload;
        layui.use(['jquery', 'layer', 'table', 'laydate', 'form', 'upload'], function () {
            $ = layui.jquery, layer = layui.layer, table = layui.table, laydate = layui.laydate, form = layui.form, upload = layui.upload;
            //起始时间
            var beginDate = laydate.render({
                elem: '#BeginDate',
                type: 'datetime',
                btns: ['confirm'],
                max: 'nowTime',//默认最大值为当前日期
                done: function (value, date) {
                    endDate.config.min = {
                        year: date.year,
                        month: date.month - 1,//关键
                        date: date.date,
                        hours: date.hours,
                        minutes: date.minutes,
                        seconds: date.seconds
                    }
                }
            });
            //结束时间
            var endDate = laydate.render({
                elem: '#EndDate',
                type: 'datetime',
                btns: ['confirm'],
                max: 'nowTime',
                done: function (value, date) {
                    beginDate.config.max = {
                        year: date.year,
                        month: date.month - 1,//关键
                        date: date.date,
                        hours: date.hours,
                        minutes: date.minutes,
                        seconds: date.seconds
                    }
                }
            });
            //表格绑定
            table.render({
                elem: '#TableData',
                url: '/User/InquireUserData',
                page: true,
                method: 'post',
                cellMinWidth: 80,
                request: {
                    pageName: 'Page',//页码的参数名称，默认：page
                    limitName: 'PageSize',//每页数据量的参数名，默认：limit
                },
                parseData: function (res) {
                    return {
                        "code": res.status,//解析接口状态
                        "msg": res.message,//解析提示文本
                        "count": res.total,//解析数据长度
                        "data": res.rows,//解析数据列表
                    };
                },
                where: {
                    QueryLikeStr: '',
                    BeginDate: '',
                    EndDate: '',
                },
                done: function (res, curr, count) {
                    //console.log(res);//你接口返回的信息
                    //console.log(curr);//得到当前页码
                    //console.log(count);//得到数据总量
                    RoleControl();//加载成功时执行
                },
                cols: [[
                    { type: 'checkbox', fixed: 'left' },
                    { type: 'numbers', title: '序号', fixed: 'left' },
                    //{field:'UserID', title: '用户ID', sort: true},
                    //{field:'RoleID', title: '角色ID', sort: true},
                    { field: 'Accounts', title: '账号', sort: true },
                    { field: 'UserName', title: '用户名称' },
                    { field: 'RoleName', title: '角色名称' },
                    //{ field: 'Single', title: '单点登录' },
                    { field: 'CreateTime', title: '创建时间', sort: true },
                    {
                        field: 'canteenOperat', title: '操作', templet: function (d) {
                            var html = '';
                            html += '<a class="layui-btn layui-btn-warm layui-btn-sm update hidden" onclick="UpdateDate(' + d.LAY_TABLE_INDEX + ')">修改</a>';
                            html += '<a class="layui-btn layui-btn-danger layui-btn-sm delete hidden" onclick="DeleteDate(' + d.LAY_TABLE_INDEX + ')">删除</a>';
                            return html
                        }, fixed: 'right', width: 130
                    },
                ]]
            });
        });
        //新增和修改界面代码
        var _html = "";
        _html += "<div class='layui-form'>";
        _html += "  <div class='layui-form-item'>";
        _html += "    <label class='layui-form-label'>用户账号</label>";
        _html += "    <div class='layui-input-inline'>";
        _html += "      <input class='layui-input' type='text' autocomplete='off' id='Accounts' placeholder='请输入用户账号'>";
        _html += "    </div>";
        _html += "  </div>";
        _html += "  <div class='layui-form-item'>";
        _html += "    <label class='layui-form-label'>用户名称</label>";
        _html += "    <div class='layui-input-inline'>";
        _html += "      <input class='layui-input' type='text' autocomplete='off' id='UserName' placeholder='请输入用户名称'>";
        _html += "    </div>";
        _html += "  </div>";
        _html += "  <div class='layui-form-item'>";
        _html += "    <label class='layui-form-label'>用户密码</label>";
        _html += "    <div class='layui-input-inline'>";
        _html += "      <input class='layui-input' type='text' autocomplete='off' id='Password' placeholder='请输入用户密码'>";
        _html += "    </div>";
        _html += "  </div>";
        _html += "  <div class='layui-form-item'>";
        _html += "    <label class='layui-form-label'>用户角色</label>";
        _html += "    <div class='layui-input-inline'>";
        _html += "      <select class='form-control' id='RoleSe'></select>";
        _html += "    </div>";
        _html += "  </div>";
        _html += "  <div class='layui-form-item'>";
        _html += "    <label class='layui-form-label'>单点登录</label>";
        _html += "    <div class='layui-input-block'>";
        _html += "      <input type='checkbox' id='Single' lay-skin='primary' title='该账号只允许在一处登录'>";
        _html += "    </div>";
        _html += "  </div>";
        _html += "</div>";
        //查询按钮
        function SearchData() {
            table.reload('TableData', {
                where: {
                    QueryLikeStr: $("#QueryLikeStr").val(),
                    BeginDate: $("#BeginDate").val(),
                    EndDate: $("#EndDate").val(),
                }
            });
        }
        //新增按钮
        function InsertDate() {
            layer.open({
                shade: 0.4,
                content: _html,
                title: "新增用户",
                btn: ["确定", "取消"],
                success: function (layero, index) {
                    SelectBinding("#RoleSe", "/User/InquireRole");
                },
                yes: function (index, layero) {
                    var Accounts = $("#Accounts").val();
                    var UserName = $("#UserName").val();
                    var Password = $("#Password").val();
                    var RoleSe = $("#RoleSe").val();
                    var Single = $("#Single").prop("checked");
                    if (Accounts != "" && UserName != "" && Password != "") {
                        $.post("/User/InsertUserData", {
                            Accounts: Accounts,
                            UserName: UserName,
                            Password: Password,
                            RoleID: RoleSe,
                            Single: Single,
                        }, function (data) {
                            if (data.Status == true) {
                                layer.msg(data.Message, { icon: 1 });
                                SearchData();
                            } else {
                                layer.msg(data.Message, { icon: 5 });
                            }
                        });
                    } else {
                        layer.msg("请输入正确的数据", { icon: 3 });
                    }
                }
            });
        }
        //修改按钮
        function UpdateDate(index) {
            var getData = table.cache.TableData;
            var row = getData[index];
            layer.open({
                shade: 0.4,
                content: _html,
                title: "修改用户",
                btn: ["确定", "取消"],
                success: function (layero, index) {
                    SelectBindingById("#RoleSe", "/User/InquireRole", row.RoleID);
                    $("#Accounts").val(row.Accounts);
                    $("#UserName").val(row.UserName);
                    if (row.Single == true) $("#Single").prop("checked", "checked");
                },
                yes: function (index, layero) {
                    var Accounts = $("#Accounts").val();
                    var UserName = $("#UserName").val();
                    var Password = $("#Password").val();
                    var RoleSe = $("#RoleSe").val();
                    var Single = $("#Single").prop("checked");
                    if (Accounts != "" && UserName != "") {
                        $.post("/User/UpdateUserData", {
                            Accounts: Accounts,
                            UserName: UserName,
                            Password: Password,
                            UserID: row.UserID,
                            RoleID: RoleSe,
                            Single: Single,
                        }, function (data) {
                            if (data.Status == true) {
                                layer.msg(data.Message, { icon: 1 });
                                SearchData();
                            } else {
                                layer.msg(data.Message, { icon: 5 });
                            }
                        });
                    } else {
                        layer.msg("请输入正确的数据", { icon: 3 });
                    }
                }
            });
        }
        //删除按钮
        function DeleteDate(index) {
            var deleteID = "";
            if (index == null) {
                //多选（通过便利表格所选择数据）
                var checkStatus = table.checkStatus('TableData');
                var checkData = checkStatus.data; //得到选中的数据
                if (checkData.length == 0) { layer.msg("请选择数据"); return; }
                for (var i = 0; i < checkData.length; i++) {
                    deleteID += checkData[i].UserID + ",";
                    if (i == checkData.length - 1) {
                        deleteID = deleteID.substring(0, deleteID.length - 1);
                    }
                }
            } else {
                //单选（通过表格数据选择删除）
                var getData = table.cache.TableData;
                var row = getData[index];
                deleteID = row.UserID;
            }
            layer.confirm('确定要删除吗？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                $.post("/User/DeleteUserData", {
                    IDS: deleteID,
                }, function (data) {
                    if (data.Status == true) {
                        layer.msg(data.Message, { icon: 1 });
                        SearchData();
                    } else {
                        layer.msg(data.Message, { icon: 5 });
                    }
                });
            });
        }
        //打印按钮
        function PrintDate() {
            $("body").html($("#TablePrint").html());
            window.print();
            location.reload();
        }
    </script>
</body>
</html>